<html ng-app="frogger" ng-controller="frogger as home">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="infoService.js"></script>
    <link href="cropper.css" rel="stylesheet" />
    <script src="cropper.js"></script>
    <title>{{ home.pageTitle }}</title>
</head>
<body>
<main style="padding: 12px;">
    <h2>Create your own Street Jump Jump!</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Title: </label><br />
            <input type="text" ng-model="home.info.title" /><br />

            <label>Player color: </label><br />
            <input type="text" ng-model="home.info.player" /><br />

            <label>Enemy color: </label><br />
            <input type="text" ng-model="home.info.enemy" /><br />

            <label>Safe Zone color: </label><br />
            <input type="text" ng-model="home.info.safeZone" /><br />

            <label>Road color: </label><br />
            <input type="text" ng-model="home.info.road" /><br />

            <label>Divider color: </label><br />
            <input type="text" ng-model="home.info.divider" /><br />

            <label>Victory Zone color: </label> <br />
            <input type="text" ng-model="home.info.victoryZone" /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Take Photo of you!</label><br />
            <button id="snap">Snap Photo</button>
            <button id="cropIt">Save Photo</button>
            <img id="croppedImage" style="width: 100px; height: 100px;" alt="upload your image" />
            <img id="image" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <video id="video" width="640" height="480" autoplay></video>
        </div>
        <div class="col-md-6">
            <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Take Photo of you!</label><br />
            <button id="snap2">Snap Photo</button>
            <button id="cropIt2">Save Photo</button>
            <img id="croppedImage2" style="width: 100px; height: 100px;" alt="upload your image" />
            <img id="image2" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <video id="video2" width="640" height="480" autoplay></video>
        </div>
        <div class="col-md-6">
            <canvas id="canvas2" width="640" height="480" style="display: none;"></canvas>
        </div>
    </div>
</main>
    <script>
        function startPlayerImage() {
            var cropX = 0, cropY = 0, cropWidth = 0, cropHeight = 0;

            // Put event listeners into place
            window.addEventListener("DOMContentLoaded", function() {
                // Grab elements, create settings, etc.
                var canvas = document.getElementById("canvas"),
                        context = canvas.getContext("2d"),
                        video = document.getElementById("video"),
                        videoObj = { "video": true },
                        errBack = function(error) {
                            console.log("Video capture error: ", error.code);
                        };

                // Put video listeners into place
                if (navigator.getUserMedia) { // Standard
                    navigator.getUserMedia(videoObj, function(stream) {
                        video.src = stream;
                        video.play();
                    }, errBack);
                } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                    navigator.webkitGetUserMedia(videoObj, function(stream) {
                        video.src = window.webkitURL.createObjectURL(stream);
                        video.play();
                    }, errBack);
                } else if (navigator.mozGetUserMedia) { // WebKit-prefixed
                    navigator.mozGetUserMedia(videoObj, function(stream) {
                        video.src = window.URL.createObjectURL(stream);
                        video.play();
                    }, errBack);
                }

                // Trigger photo take
                document.getElementById("snap").addEventListener("click", function() {
                    context.drawImage(video, 0, 0, 640, 480);
                    dataURL = canvas.toDataURL("image/png");
                    document.getElementById('image').src = dataURL;
                });

                // Trigger crop
                document.getElementById("cropIt").addEventListener("click", function() { cropIt("canvas") });

                // Prepare the cropping
                document.getElementById('image').onload = function() {
                    new Cropper(this, {
                        min_width: 100,
                        min_height: 100,
                        max_width: 250,
                        max_height: 250,
                        ratio: { width: 1, height: 1 },
                        update: function(coordinates) {
                            cropX = coordinates.x;
                            cropY = coordinates.y
                            cropWidth = coordinates.width;
                            cropHeight = coordinates.height;
                        }
                    });
                }
            }, false);

            function cropIt(canvasID) {
                var canvas = document.getElementById(canvasID);
                // canvas context
                var context = canvas.getContext("2d");
                // get the current ImageData for the canvas
                var data = context.getImageData(0, 0, canvas.width, canvas.height);
                // store the current globalCompositeOperation
                var compositeOperation = context.globalCompositeOperation;
                // set to draw behind current content
                context.globalCompositeOperation = "destination-over";
                //set background color
                context.fillStyle = "#FFFFFF";
                // draw background/rectangle on entire canvas
                context.fillRect(0, 0, canvas.width, canvas.height);

                var tempCanvas = document.createElement("canvas"),
                        tempContext = tempCanvas.getContext("2d");

                tempCanvas.width = cropWidth;
                tempCanvas.height = cropHeight;

                tempContext.drawImage(canvas, cropX, cropY, cropWidth, cropHeight, 0, 0, 100, 100);
                dataURL = tempCanvas.toDataURL("image/png");

                //return dataURL;
                document.getElementById("croppedImage").src = dataURL;
                localStorage.setItem('playerImage', dataURL)
            }
        }

        startPlayerImage();
    </script>
    <script>
        var cropX = 0, cropY = 0, cropWidth = 0, cropHeight = 0;

        // Put event listeners into place
        window.addEventListener("DOMContentLoaded", function() {
            // Grab elements, create settings, etc.
            var canvas = document.getElementById("canvas2"),
                context = canvas.getContext("2d"),
                video = document.getElementById("video2"),
                videoObj = { "video": true },
                errBack = function(error) {
                    console.log("Video capture error: ", error.code);
                };

            // Put video listeners into place
            if (navigator.getUserMedia) { // Standard
                navigator.getUserMedia(videoObj, function(stream) {
                    video.src = stream;
                    video.play();
                }, errBack);
            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(videoObj, function(stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, errBack);
            } else if (navigator.mozGetUserMedia) { // WebKit-prefixed
                navigator.mozGetUserMedia(videoObj, function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }

            // Trigger photo take
            document.getElementById("snap2").addEventListener("click", function() {
                context.drawImage(video, 0, 0, 640, 480);
                dataURL = canvas.toDataURL("image/png");
                document.getElementById('image2').src = dataURL;

            });

            // Trigger crop
            document.getElementById("cropIt2").addEventListener("click", function() { cropIt2("canvas2") });

            // Prepare the cropping
            document.getElementById('image2').onload = function() {
                new Cropper(this, {
                    min_width: 100,
                    min_height: 100,
                    max_width: 250,
                    max_height: 250,
                    ratio: { width: 1, height: 1 },
                    update: function(coordinates) {
                        cropX = coordinates.x;
                        cropY = coordinates.y
                        cropWidth = coordinates.width;
                        cropHeight = coordinates.height;
                    }
                });
            }
        }, false);

        function cropIt2(canvasID) {
            var canvas = document.getElementById(canvasID);
            // canvas context
            var context = canvas.getContext("2d");
            // get the current ImageData for the canvas
            var data = context.getImageData(0, 0, canvas.width, canvas.height);
            // store the current globalCompositeOperation
            var compositeOperation = context.globalCompositeOperation;
            // set to draw behind current content
            context.globalCompositeOperation = "destination-over";
            //set background color
            context.fillStyle = "#FFFFFF";
            // draw background/rectangle on entire canvas
            context.fillRect(0, 0, canvas.width, canvas.height);

            var tempCanvas = document.createElement("canvas"),
                tempContext = tempCanvas.getContext("2d");

            tempCanvas.width = cropWidth;
            tempCanvas.height = cropHeight;

            tempContext.drawImage(canvas, cropX, cropY, cropWidth, cropHeight, 0, 0, 100, 100);
            dataURL = tempCanvas.toDataURL("image/png");

            //return dataURL;
            document.getElementById("croppedImage2").src = dataURL;
            localStorage.setItem('enemyImage', dataURL)
        }
    </script>
</body>
</html>